<router-outlet>
<nav>
  <ul class ="h12">
    <img src = "QWERTY.jpg" width="200">
    <li>
      <a routerLink ="/glav" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="dfiojsd" src = "GLAV.png" width="140"></a>
    </li>
    <li>
      <a routerLink ="/first" routerLinkActive="active" ariaCurrentWhenActive="page">Освой Фоторедактирование</a>
    </li>
    <li>
      <a routerLink ="/video" routerLinkActive="active" ariaCurrentWhenActive="page">Освой видеомонтаж</a>
    </li>
    <img class="dfiojsd" src = "USERS.png" width="100">
  </ul>
</nav>
</router-outlet>