body {
    font-family: 'Roboto', sans-serif; /* Используем Roboto, или замените на свой шрифт */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ffc8c9;
    color: #333;
  }