<p>SORRY A PAGE NOT FOUND 404 </p>
<ul>
    <li><span> Валюта-</span>{{currency | currency}}</li>
    <li><span> Проценты-</span>{{percent | percent}}</li>
    <li><span> Верхний регистр-</span>{{uppercase | uppercase}}</li>
    <li><span> Нижний регистр-</span>{{lowerCase | lowercase}}</li>
    <li><span> Даты-</span>{{date | date}}</li>
    <li><span> Формат числа-</span>{{num | number: "0.1-7"}}</li>
    <li><span> Обрезанная строка-</span>{{strToSlice | slice: 0:4}}</li>
    <li><span> Цепочка pipes-</span>{{uppercase | slice: 5:11 | uppercase}}</li>
    <li><span>Текст с использованием (-)</span>{{Def | Def}}</li>
            
        
</ul>
